[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=habitrack-gui
Name=Habitrack
Icon=habitrack-gui
Categories=Science;Utility;
