[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=panowizard
Name=PanoWizward
Icon=panowizard
Categories=Science;Utility;
